/* .card,
.individual {
  /* height: 480px; */
/* margin: 10px;
  box-shadow: 5px 5px 5px 5px;
  transition: transform 0.3s;
} */

.card:hover {
  transform: scale(1.05);
}

.button {
  background-color: black;
  color: white;
}

.button:hover {
  background-color: rgb(24, 24, 24);
  color: white;
}

.button:focus {
  color: white;
}

.card-content {
  margin-top: 100px;
}
.grilla_libros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
