.card, .individual {
  height: 480px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px;
  transition: transform 0.3s; 
}

.card:hover {
  transform: scale(1.05); 
}

.cart {
  background-color: black;
}

.card-content {
  margin-top: 100px;
}

.button {
  background-color: black;
  color: white;
}

.button:hover {
  background-color: rgb(37, 37, 37);
  color: white;
}
